#pixel-board {
    border: 1px solid black;
}

.color , .pixel {
  display: inline-block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
}

.pixel {
  background-color: white;
  display: inline-block;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#first-color {
  background-color: black;
}

#second-color {
  background-color: magenta;
}

#third-color {
  background-color: yellow;
}

#fourth-color {
  background-color: cyan;
}
